{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}A Propos
{% endblock %}
{% block body %}
<div class="propos">
	<h1>A Propos</h1>
	<p>Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004, les responsables du présent site internet www.lebonmaillot.com sont :
	</p>
    <p>	
		Éditeur du Site :
	</p>
    <p>
		Ayman Mougou
	</p>
    <p>
		26 rue Courteline, 62221 Noyelles-Sous-Lens
	</p>
    <p>	
		Email : aymoug@outlook.fr
	</p>
    <p>
		Site Web : www.lebonmaillot.com
	</p>
    <p>	
		Hébergement : NUAGE-PEDAGOGIQUE
	</p>
    <p>	
		Hébergeur : NUAGE-PEDAGOGIQUE
	</p>
    <p>	
		Développement :
	</p>
    <p>	
		 Lycée Guy Mollet, 62000 ARRAS
    </p>
</div>
	{% endblock %}
