{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Meilleure Box Mystère !?
{% endblock %}
{% block body %}
	<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
		Box Mystère</h1>
</br>
<div class="row row-cols-1 row-cols-md-3 g-4">
	<div class="col">
		<div class="card">
			<img src="images/box.webp" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Box Mystère Homme</h5>
				<p class="card-text">La Meilleure Box Mystère Pour les Hommes qui existe sur le Marché.</p>
				<a href="#" class="btn btn-primary">Ajouter au Panier</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="images/box.webp" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Box Mystère Enfant</h5>
				<p class="card-text">La Meilleure Box Mystère Pour les Enfants qui existe sur le Marché.</p>
				<a href="#" class="btn btn-primary">Ajouter au Panier</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="images/pl.webp" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Box Mystère Premier League</h5>
				<p class="card-text">Une Box Mystère Exclusivement sur la Premier League (Anciens et Nouveaux)</p>
				<p class="card-text">Manchester City/United</p>
				<p class="card-text">Chelsea/Tottenham/Arsenal/West Ham/Fulham/</p>
				<p class="card-text">Liverpool/Newcastle/Brighton</p>
				<a href="#" class="btn btn-primary">Ajouter au Panier</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="images/bundesliga.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Box Mystère Bundesliga</h5>
				<p class="card-text">Une Box Mystère Exclusivement sur la Bundesliga (Anciens et Nouveaux)</p>
				<a href="#" class="btn btn-primary">Ajouter au Panier</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="images/ligue1.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Box Mystère Ligue 1</h5>
				<p class="card-text">Une Box Mystère Exclusivement sur la Ligue 1 (Anciens et Nouveaux)</p>
				<p class="card-text">Paris Saint Germain / Olympique de Marseille / Olympique Lyonnais</p>
				<a href="#" class="btn btn-primary">Ajouter au Panier</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="images/liga.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Box Mystère La Liga</h5>
				<p class="card-text">Une Box Mystère Exclusivement sur La Liga (Anciens et Nouveaux)</p>
				<a href="#" class="btn btn-primary">Ajouter au Panier</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<img src="images/seriea.webp" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Box Mystère Serie A</h5>
				<p class="card-text">Une Box Mystère Exclusivement sur la Serie A (Anciens et Nouveaux)</p>
				<a href="#" class="btn btn-primary">Ajouter au Panier</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
