{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Meilleure site de Ventes de Maillot
{% endblock %}
{% block body %}
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="images/carrousel.jpg" class="d-block" alt="..." width="100%">
			</div>
			<div class="carousel-item">
				<img src="images/carrousel1.jpg" class="d-block" alt="..." width="100%">
			</div>
		</div>
	</div>
</br>

<div class="presentation">
	<h1 class="text-center text-white">Bienvenue sur le Meilleure site de Ventes de Maillots</h1>
	<h5 class="text-center">Ici tu trouveras des maillots officels pour complétés ta collection mais également des Box Mystères que tu peux offrir à des amis ou a ta famille</h5>
	<h5 class="text-center">Qu'est-ce que tu attend rejoins nous !!</h5>
</div>

</br>

<div class="accordion accordion-flush " id="accordionFlushExample">
<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
			Est-ce que nos maillots sont officiels ?
		</button>
	</h2>
	<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
		<div class="accordion-body">On ne le dira jamais assez : oui ! Ils sont authentiques, neufs et étiquetés.									
				Nous avons établi de multiples partenariats avec des marques et des équipementiers de renom. 
				Des accords commerciaux nous permettent de vous proposer un large choix de maillots de Foot, totalement authentiques et de qualité. De quoi en faire une sacrée collection !</div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
			Quels sont les pays où livre LeBonMaillot.fr
		</button>
	</h2>
	<div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
		<div class="accordion-body">Nous sommes capables de livrer dans le monde entier.		
				Si votre pays ou destination ne se trouvent pas sur notre site, nous pouvons l'ajouter.			
				N'hésitez pas à le demander, car l'amour du Foot n'a pas de frontière !</div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
			Mon maillot n'est pas à la bonne taille, que puis-je faire ?
		</button>
	</h2>
	<div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
		<div class="accordion-body">Si le maillot reçu est bien celui à la taille commandée, nous ne pourrons malheureusement pas accéder à votre demande.
			Bien que nous ne mettions pas en cause votre honnêteté, comme vous pouvez vous en douter, la frontière est en réalité trop mince entre un réel problème de taille et une déception concernant la découverte du maillot (et donc la volonté d’en obtenir un autre).
			Néanmoins, nous pouvons toujours en discuter ensemble sur contact@lebonmaillot.com pour trouver une solution (car elles existent).</div>
	</div>
</div>
</div>
</br>
<p class="text-center text-white"> <a href="{{path('app_about')}}">Mentions Légales</a> | © Copyright 2023-2024 Mr Mougou Ayman </p>
{% endblock %}
